<div class="container">
  <div class="page-header">
    <h2>Getting Started with {{config.PoolName}} mining</h2>
  </div>

  <h4>europe stratum+tcp://pool.lamba.top:18030</h4><br>
  <h4>russia stratum+tcp://ru.lamba.top:18030</h4><br>
</div>
